<section>
  <mat-toolbar color="accent" fxLayout>
    <div
      fxLayout
      fxLayoutAlign="space-between center"
      class="toolbar-button-container"
      fxLayoutGap="0"
    >
      <button mat-button class="btn" (click)="onTTButtonClick($event)">
        <p class="btn-para-one">Total Truck</p>
        <p class="btn-para-two">{{ truckNumberArray.length }}</p>
      </button>
      <button mat-button class="btn" (click)="onRTButtonClick($event)">
        <p class="btn-para-one">Runnig Truck</p>
        <p class="btn-para-two">{{ runningTruck }}</p>
      </button>
      <button mat-button class="btn" (click)="onSTButtonClick($event)">
        <p class="btn-para-one">Stopped Truck</p>
        <p class="btn-para-two">{{ stoppedTruck }}</p>
      </button>
      <button mat-button class="btn" (click)="onITButtonClick($event)">
        <p class="btn-para-one">Idle Truck</p>
        <p class="btn-para-two">{{ idleTruck }}</p>
      </button>
      <button mat-button class="btn" (click)="onETButtonClick($event)">
        <p class="btn-para-one">Error Truck</p>
        <p class="btn-para-two">{{ errorTruck }}</p>
      </button>
      <div fxFlexAlign="baseline" class="toolbar-select">
        <form [formGroup]="myForm">
          <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select multiple formControlName="selectFormControl">
              <ng-container *ngFor="let topping of truckNumberArray">
                <mat-option [value]="topping">{{ topping }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>
  </mat-toolbar>
</section>
