.list-component-class{
  height: inherit;
  width: calc(20vw + 3rem);

}

mat-list {
  padding-top: 2vh;
}
mat-list-item {
  height: 4rem !important;
}
.list-item-class{
  display:flex;
  justify-content: space-between;
  align-items:center;
  width: 100%;
  border-bottom: 1px solid grey;
  height: inherit !important;
  overflow: hidden;
}

p{
  padding-bottom: 0.2rem;
  margin: 0;
}
.list-item-left-class-para-one{
  letter-spacing: 0.1em;
  font-weight: 600;
  font-size: 1.2rem;
  color: #000;

}
.list-item-left-class-para-two{
color:rgb(82, 76, 76);
font-size:1.1rem ;
}
