<div class="list-component-class">
  <mat-list role="Truck list">
    <mat-list-item role="listitem">
      <div class="list-item-class">
        <div class="list-item-left-class">
          <p class="list-item-left-class-para-one">PB 10FF 4994</p>
          <p class="list-item-left-class-para-two">Stopped since last 11 d</p>
        </div>
        <div class="list-item-left-class">
          <p class="list-item-left-class-para-two">22 min</p>
          <p class="list-item-left-class-para-two">13.6k/h</p>
        </div>
      </div>
    </mat-list-item>
    <mat-list-item role="listitem">
      <div class="list-item-class">
        <div class="list-item-left-class">
          <p class="list-item-left-class-para-one">PB 10FF 4994</p>
          <p class="list-item-left-class-para-two">Stopped since last 11 d</p>
        </div>
        <div class="list-item-left-class">
          <p class="list-item-left-class-para-two">22 min</p>
          <p class="list-item-left-class-para-two">13.6k/h</p>
        </div>
      </div>
    </mat-list-item>
    <mat-list-item role="listitem">
      <div class="list-item-class">
        <div class="list-item-left-class">
          <p class="list-item-left-class-para-one">PB 10FF 4994</p>
          <p class="list-item-left-class-para-two">Stopped since last 11 d</p>
        </div>
        <div class="list-item-left-class">
          <p class="list-item-left-class-para-two">22 min</p>
          <p class="list-item-left-class-para-two">13.6k/h</p>
        </div>
      </div>
    </mat-list-item>
    <mat-list-item role="listitem">
      <div class="list-item-class">
        <div class="list-item-left-class">
          <p class="list-item-left-class-para-one">PB 10FF 4994</p>
          <p class="list-item-left-class-para-two">Stopped since last 11 d</p>
        </div>
        <div class="list-item-left-class">
          <p class="list-item-left-class-para-two">22 min</p>
          <p class="list-item-left-class-para-two">13.6k/h</p>
        </div>
      </div>
    </mat-list-item>
    <mat-list-item role="listitem">
      <div class="list-item-class">
        <div class="list-item-left-class">
          <p class="list-item-left-class-para-one">PB 10FF 4994</p>
          <p class="list-item-left-class-para-two">Stopped since last 11 d</p>
        </div>
        <div class="list-item-left-class">
          <p class="list-item-left-class-para-two">22 min</p>
          <p class="list-item-left-class-para-two">13.6k/h</p>
        </div>
      </div>
    </mat-list-item>
    <mat-list-item role="listitem">
      <div class="list-item-class">
        <div class="list-item-left-class">
          <p class="list-item-left-class-para-one">PB 10FF 4994</p>
          <p class="list-item-left-class-para-two">Stopped since last 11 d</p>
        </div>
        <div class="list-item-left-class">
          <p class="list-item-left-class-para-two">22 min</p>
          <p class="list-item-left-class-para-two">13.6k/h</p>
        </div>
      </div>
    </mat-list-item>
    <mat-list-item role="listitem">
      <div class="list-item-class">
        <div class="list-item-left-class">
          <p class="list-item-left-class-para-one">PB 10FF 4994</p>
          <p class="list-item-left-class-para-two">Stopped since last 11 d</p>
        </div>
        <div class="list-item-left-class">
          <p class="list-item-left-class-para-two">22 min</p>
          <p class="list-item-left-class-para-two">13.6k/h</p>
        </div>
      </div>
    </mat-list-item>
    <mat-list-item role="listitem">
      <div class="list-item-class">
        <div class="list-item-left-class">
          <p class="list-item-left-class-para-one">PB 10FF 4994</p>
          <p class="list-item-left-class-para-two">Stopped since last 11 d</p>
        </div>
        <div class="list-item-left-class">
          <p class="list-item-left-class-para-two">22 min</p>
          <p class="list-item-left-class-para-two">13.6k/h</p>
        </div>
      </div>
    </mat-list-item>
    <mat-list-item role="listitem">
      <div class="list-item-class">
        <div class="list-item-left-class">
          <p class="list-item-left-class-para-one">PB 10FF 4994</p>
          <p class="list-item-left-class-para-two">Stopped since last 11 d</p>
        </div>
        <div class="list-item-left-class">
          <p class="list-item-left-class-para-two">22 min</p>
          <p class="list-item-left-class-para-two">13.6k/h</p>
        </div>
      </div>
    </mat-list-item>
    <mat-list-item role="listitem">
      <div class="list-item-class">
        <div class="list-item-left-class">
          <p class="list-item-left-class-para-one">PB 10FF 4994</p>
          <p class="list-item-left-class-para-two">Stopped since last 11 d</p>
        </div>
        <div class="list-item-left-class">
          <p class="list-item-left-class-para-two">22 min</p>
          <p class="list-item-left-class-para-two">13.6k/h</p>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</div>
